$base-font: 14px/20px Georgia, sans;



//colors
$text-color: #002B36;
$black: #000;
$white: #fff;
$grey: #808080;
$blue:#6498b0;

$gold: #D0A154;
$red: #df5849;
$green: #00d7af;
$border-color: #eaeaea;

$main-bg: rgba(208, 181, 64, 0.3);